.item-container {
  background-color: steelblue;
  width: 30%;
  margin: 1rem;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .action-container {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    .edit-button {
      margin-right: 1rem;
    }
  }
}
